{% extends 'html/base.html' %}
{% load static %}
{% block title %}Registration{% endblock %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<div class="container mt-3">
		<div class="card col-md-6 mx-auto shadow-lg">
			<div class="card-body mx-1">
				<h2 class="bg-primary text-center text-white border rounded my-2">Registration Form</h2>
				<form method="POST">
					{% csrf_token %}
					<table class="table table-borderless">
						{% for i in t %}
						<tr>
							<td>{{i}}</td>
					    </tr>
					    {% endfor %}
				    </table>
				    <input type="submit" class="form-control text-white btn btn-success" name="Subscribe" value="subscribe">	
			    </form>		
			</div>
		</div>
	</div>
{% endblock %}